@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Roboto', 'Inter', system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;

  /* Cores principais */
  --bg-primary: #161616;
  --bg-secondary: #1a1a1a;
  --bg-tertiary: #2d2d2d;
  --bg-quartiary: rgb(31, 31, 31);

  /* Cores de texto */
  --text-primary: #e0e0e0;
  --text-secondary: #b0b0b0;
  --text-muted: #808080;

  /* Sombras */
  --shadow-primary: 0 4px 20px rgba(38, 38, 41, 0.3);
  --shadow-secondary: 0 2px 10px rgba(21, 22, 22, 0.2);

  color: var(--text-primary);
  background-color: var(--bg-primary);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    --bg-tertiary: #e9ecef;

    --text-primary: #161616;
    --text-secondary: #495057;
    --text-muted: #6c757d;

    --shadow-primary: 0 4px 20px rgba(25, 24, 27, 0.2);
    --shadow-secondary: 0 2px 10px rgba(24, 25, 26, 0.1);

    color: var(--text-primary);
    background-color: var(--bg-primary);
  }
}
